# Database file (Contains sensitive admin data)
visionmart.db

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Environment folders (if any)
venv/
env/
.env

# Editor settings
.vscode/
.idea/
.DS_Store

# Ignore ngrok executable
ngrok.exe